<div class="center hero-unit">
  <h1>SMS Survey System Viewer</h1>

  <h2>
    This is the home page for the
    <a href="http://raceforresilience.org//">Race for Resilience</a>
    sample application. Team Nagoya, Japan.
  </h2>

  <%= link_to "View Map", '#', class: "btn btn-large btn-primary" %>
</div>
